apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: replicator-deployment
  namespace: ibp-cp
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: replicator
    spec:
      serviceAccountName: replicator
      containers:
        - name: replicator
          image: docker.artifactory.a.intuit.com/dev/build/ibp/kubernetes-replicator:latest
